.header {

  width: 100%;
  position: relative;


  .shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }

  &__title {
    font-family: "Shrikhand";
    font-size: 30px;
    font-weight: 400;
    color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  20px 0px;
    
  }



  &__logo {
    width: 60%;
    margin: 20px auto;
    display: flex;
  }

  &__bar {
    padding: 10px 0;
    background-color: #EAEAEA;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 -2px 5px rgba(0, 0, 0, 0.25);
  }

  &__nav {
    text-align: center;
  }

  &__search {
    align-items: center;
    padding-bottom: 32px;
  }


  &__contenair {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;

  }

  &__input {
    border: none;
    width: 50%;
    font-size: 18px;
    text-align: center;
    background-color: inherit;
    font-weight: 700;
    color: #353535;
  }

  a {
    position: absolute;
    top: 35%;
    left: 15px;
  }

  i {
    color: black;
  }

}