*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}*/
.logo {
  width: 60%;
  margin: 20px auto;
  display: block;
}

.nav-bar {
  padding: 10px;
  text-align: center;
}
.nav-bar .search-bar {
  justify-content: center;
}
.nav-bar .search-bar .input-container {
  display: inline-flex;
  width: 300px;
  height: 50px;
  align-items: center;
  background: white;
  padding: 5px 10px;
}
.nav-bar .search-bar .input-container .search-input {
  border: none;
  outline: none;
  width: 200px;
  font-size: 14px;
  text-align: center;
}

main {
  text-align: center;
  /* padding: 20px;*/
}
main .hero {
  background-color: #f6f6f6;
  padding-bottom: 50px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
}
main .hero__title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: Roboto;
}
main .hero__paragraphe {
  font-size: 18px;
  font-weight: 300;
  font-family: Roboto;
  margin-bottom: 20px;
  color: #353535;
  margin-top: 25px;
  margin-bottom: 30px;
}
main .hero__button {
  margin-bottom: 30px;
}
main .hero__button .search-button {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  padding: 16px 20px;
}
main .fontionnement {
  background-color: #fff;
}
main .filtres {
  margin: 20px 0;
}
main .filtres .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
main .filtres .filtres-elts {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}
main .filtres .filtres-elts a {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #353535;
}
main .filtres .filtres-elts a i {
  color: #9356DC;
}

.restaurants {
  background: #F6F6F6;
  padding: 20px;
  display: flex;
  margin-bottom: 10px;
  height: auto;
  justify-content: center;
}
.restaurants .restaurants-title h2 {
  font-size: 18px;
}
.restaurants .restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants .restaurants-cards a {
  text-decoration: none;
  color: inherit;
  margin-top: 50px;
}
.restaurants .restaurants-cards a .card {
  width: 300px;
  height: 180px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants-cards a .card img {
  width: 300px !important;
  height: 180px !important;
  object-fit: cover !important;
}
.restaurants .restaurants-cards a .card .card-content {
  padding: 15px;
}
.restaurants .restaurants-cards a .card .card-content .card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurants .restaurants-cards a .card .card-content .card-subtitle {
  font-size: 14px;
  color: gray;
}

.footer {
  background: #2E2E2E;
  color: white;
  padding: 20px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer ul li img {
  width: 20px;
  height: auto;
}
.footer ul li span {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
