* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* padding: 20px;*/


.hero {
  background-color: #f6f6f6;
  padding-bottom: 50px;
  margin-top: 46px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;


  &__title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: Roboto;
  }

  &__paragraphe {
    font-size: 18px;
    font-weight: 300;
    font-family: Roboto;
    margin-bottom: 20px;
    color: #353535;
    margin-top: 25px;
    margin-bottom: 30px;

  }

  &__button {
    margin-bottom: 30px;

    .search-button {
      background: linear-gradient(to top, #9356DC, $secondary-color);
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 25px;
      font-weight: 500;
      cursor: pointer;
      padding: 16px 20px;
      box-shadow: 1px 4px 0 rgba(0, 0, 0, 0.25);
      transition: background-image 400ms ease-in-out;

      &:hover {
        background: linear-gradient(to top, #9356DC, rgba(255, 121, 218, 0.590196078));
      }




    }

  }



}

.fontionnement {
  background-color: #fff;
  padding: 60px 15px;

  @media (min-width: 1024px) {
    margin-left: 50px;
    margin-right: 50px;
  }



  &__title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__number {

    position: absolute;
    background: #9356DC;
    width: 24px;
    height: 24px;
    /* text-align: center; */
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -12px;
  }




  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 12px;

    @media (min-width: 1024px) {
      flex-direction: row;

    }


  }

  &__location {
    background: #f6f6f6;
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: $text-color;
    position: relative;

    i {
      margin: 0 10px;
    }

    a i {
      color: $primary-color;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10Px;
    }
  }

}

/* animation des coeur favoris*/
.heart {

  &-checkbox {
    display: none;
  }

  &-label {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    transition: all 300ms ease;
  }

  &-empty {
    color: #000;
    transition: opacity 300ms ease;
  }

  &-filled {
    color: #9356DC;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &-checkbox:checked+.heart-label .heart-empty {
    opacity: 0;
  }

  &-checkbox:checked+.heart-label .heart-filled {
    opacity: 1;
    transform: scale(1.1);
  }

  /* section commantaire animation des coeur avec hover*/

}