.footer {
  background: hsl(0, 0%, 18%);
  color: white;
  padding: 15px;

  .contact-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }


  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .txt__footer {
      display: none;
    }



    @media (min-width: 1024px) {
      flex-direction: row-reverse;

      .txt__footer {
        display: flex;
      }

    }

    li {
      display: flex;
      gap: 10px;

      img {
        height: auto;
      }


    }
  }
}

.footer__destop {

  display: none;
}

@media (min-width: 1024px) {
  .footer__destop {
    display: block;
    background: hsl(0, 0%, 18%);
    color: white;
    padding: 15px;
    position: relative;

    .contact-link {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }


    ol {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
      position: absolute;
      left:55%;
    }

    .txt__footer {
      display: none;
    }

  }

  .footer{
    display: none;
  }
}