footer {
  background: hsl(0, 0%, 18%);
  color: white;
  padding: 15px;


  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }


  .footer__ohmyfood {
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width: 1024px) {
      margin-left: 40px;
      margin-right: 40px;

    }

  }

  .contact-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }


  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 1024px) {
      flex-direction: revert;
    }


    .txt__footer {
      display: none;
    }



    @media (min-width: 1024px) {
    

      .txt__footer {
        display: flex;
      }

    }

    li {
      display: flex;
      gap: 10px;

      img {
        height: auto;
      }


    }
  }
}

.footer__destop {

  display: none;
}

@media (min-width: 1024px) {
  .footer__destop {
    display: block;
    background: hsl(0, 0%, 18%);
    color: white;
    padding: 15px;
    position: relative;

    .contact-link {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }


    ol {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
      position: absolute;
      left: 55%;
    }

    .txt__footer {
      display: none;
    }

  }

  .footer {
    display: none;
  }

  
}